.inputContainer {
  gap: 8px;
}

.label {
  font-size: 16px;
  padding-left: 5px;
}

.input {
  padding: 18px 16px;
  background: #FFFFFF;
  border: 1.5px solid #0C0C0C;
  border-radius: 8px;
  font-size: 16px;
}