.container {
    gap: 20px;
    align-content: start;
    position: relative;
    z-index: 1;
  }
  
  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }