.sideContainer {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
  align-content: start;
}

.selectContainer {
  position: relative;
  display: grid;
  gap: 20px;
}

.selectLoader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}